<div class="cui__layout__footer">
  <div class="cui__footer">
    <div class="cui__footer__inner">
      <a href="https://benchmarkbroadcast.com" target="_blank" rel="noopener noreferrer" >
        Benchmark
        <span></span>
      </a>
      <br />
      <p class="mb-0">
        Copyright © 2020 Benchmark Broadcast Systems |
        <a href="https://benchmarkbroadcast.com" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
      </p>
    </div>
  </div>

</div>
</div>
</div>
</body>


<script src="/js/jwt-decode.min.js"></script>
<script src="/js/flatpickr.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/js.cookie.min.js"></script>
<!-- For bootstrap table  -->
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
<script
  src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

<script src="/js/auth-functions.js" defer></script>
<script src="/js/functions.js" defer></script>


</html>