<%- include("../partials/header")   %>

<div class="cui__layout__content">
  <div class="cui__breadcrumbs">
    <div class="cui__breadcrumbs__path">
      <a href="/">Home</a>
      <span>
        <span class="cui__breadcrumbs__arrow"></span>
        <a href="/operations">
          <span> Operations</span>
        </a>
      </span>
      <span>
        <span class="cui__breadcrumbs__arrow"></span>
        <strong class="cui__breadcrumbs__current">New</strong>
      </span>
    </div>
  </div>
  <div class="cui__utils__content">
    <div class="air__utils__heading">
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="mb-4">
          <strong>Assign Product</strong>
        </h4>
        <form id="addOperationsForm">
          <div class="form-row form-group">

            <div class="form-group col-md-3">
              <div>
                <label for="name">Event Name</label>
                <select required id="eventId" title="Select Event" class="selectpicker form-control"
                  data-live-search="true">
                </select>
              </div>
            </div>
          </div>
          <div class="form-row form-group">
            <div class="form-group col-md-3">
              <div>
                <label for="name">Product Category</label>
                <select required id="productCategory" title="Select Product Category" class="selectpicker form-control"
                  data-live-search="true">
                </select>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div>
                <label for="name">Product Manufacturer</label>
                <select required id="productManufacturer" title="Select Product Manufacturer"
                  class="selectpicker form-control" data-live-search="true">
                </select>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div>
                <label for="name">Product Model</label>
                <select required id="productModel" title="Select Product Model" class="selectpicker form-control"
                  data-live-search="true">
                </select>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div>
                <label for="name">Asset Tag</label>
                <select required id="productId" title="Select Product" class="selectpicker form-control"
                  data-live-search="true">
                </select>
              </div>
            </div>

          </div>
          <div class="form-row form-group">

            <div class="form-group col-md-3">
              <div>
                <label for="name">Issued To</label>
                <select required id="assignedUserId" class="selectpicker form-control" data-live-search="true">
                </select>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="name">Issued From</label>
              <input required class="form-control" type="text" name="dateIn" id="dateIn">
            </div>
            <div class="form-group col-md-3">
              <label for="name">Issued Till</label>
              <input required class="form-control" type="dateOut" name="dateOut" id="dateOut">
            </div>
            <div class="form-group col-md-3">
              <label for="name">status</label>
              <!-- <input required class="form-control" type="status" name="status" id="status" placeholder="Status"> -->
              <select required name="status" id="status" class="selectpicker form-control" data-live-search="true">
              </select>
            </div>
          </div>
          <div class="form-row form-group">
      
            <div class="form-group col-md-12">
              <label for="description">Description</label>
              <input required class="form-control" type="text" name="description" id="description"
                placeholder="Assignment description">
            </div>
          </div>
          <div class="form-group">
            <label class="air__utils__control air__utils__control__checkbox">
              <input type="checkbox" checked="checked" />
              <span class="air__utils__control__indicator"></span>
              Set Product as active </label>
          </div>
          <button class="btn btn-primary text-center w-100 ">
            <strong>Assign</strong>
          </button>
        </form>
      </div>
      <!-- 
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          Link with href
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">
          Button with data-target
        </button>
      </p> -->
    </div>
    <div>
      <div class="collapse" id="eventDetails">
        <div class="row">
          <div class="col">
            <div class="multi-collapse collapse show">
              <div class="card card-body">



                <div id="allAssignmentOfEvent"></div>




              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      ; (function ($) {
        'use strict'
        $(function () {
          $('.dropify').dropify()
          $('#form-validation').validate({
            submit: {
              settings: {
                inputContainer: '.form-group',
                errorListClass: 'form-control-error',
                errorClass: 'has-danger',
              },
            },
          })
          $('#form-validation .remove-error').on('click', function () {
            $('#form-validation').removeError()
          })
          $('#slider-1').ionRangeSlider({
            min: 0,
            max: 100,
            from: 50,
            step: 10,
            grid: true,
            grid_num: 10,
          })
        })
      })(jQuery)
    </script>
  </div>
</div>
<%- include("../partials/footer")   %>